/* Stili per la barra del titolo */
.header-titolo {
    background-color: #1E90FF;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.header-menu {
    background-color: #ADD8E6;
    padding: 10px;
}

.sottotitoli {
    display: flex;
    justify-content: center;
}

.sottotitolo {
    color: black;
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

/* Hover effetto sui link del menu */
.sottotitolo:hover {
    text-decoration: underline;
}

/* Stili per il contenuto */
#contenuto {
    padding: 20px;
}

/* Immagine e testo */
.immagine img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.testo {
    font-size: 16px;
}
